body {
    margin: 0;
    padding: 0;
    background-color:#31313C;
}
.container{

}

label {
    color: #f8ffde;
}
.cell {
    border: 1px solid #f8ffde;
    background: #f8ffde;
}

.champName {
    font-size:13.5px;
    position: absolute;
    bottom:0;
    left:2px;
    margin:0;
    color:white;
}

.gridsquare {
    display: inline-block;
    margin: 8px;
    overflow:hidden;
    position: relative;
}